* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 5fr;
  height: 100vh;
}

.header {
  background-color: white;
  grid-column: 2 / 3;
  padding: 1rem 3rem 1rem 2rem;
  display: grid;
  row-gap: 1rem;
  box-shadow: rgba(0, 0, 0, .1) 0px 5px 15px;
  position: relative;
}

.header-top, 
.header-bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.search-bar,
.header-bottom-profile {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.header-bottom-profile {
  column-gap: 1rem;
  font-weight: 500;
}

.search-btn {
  border: none;
  background-color: white;
  padding-right: 1rem;
}

.search-box {
  width: clamp(20rem, 60vw, 48rem);
  height: 2rem;
  border-style: none;
  border-radius: 1rem;
  background-color: #E2E8F0;
  padding-left: .5rem;
}

.header-top-list, 
.header-bottom-list {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding-left: 1rem;
}

.header-top-list {
  justify-content: center;
  column-gap: 1.5rem;
  padding-right: 1rem;
  font-weight: 600;
}

.profile-name {
  font-size: 1.5rem;
}

.header-bottom-profile > .cat-profile-img {
  width: 4rem;
  height: 4rem;
}

.header-bottom-list {
  justify-content: space-evenly;
  column-gap: 2rem;
  padding-right: 2rem;
}

.header-bottom-btns {
  width: 6rem;
  padding: 10px;
  background-color: #60A5FA;
  color: white;
  border-style: none;
  border-radius: 3rem;
  font-weight: 500;
}

.header-bottom-btns:active {
  background-color: #70aefa;
}

li {
  list-style: none;
}

.small-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #bccbde;
}

.sidebar {
  background-color: #60A5FA;
  grid-row: 1 / 3;
}

.dashboard-icon-main, 
.dashboard-icons-top, 
.dashboard-icons-bottom{
  display: grid;
  grid-template-columns: 1fr 8fr;
  row-gap: 1rem;
  padding-bottom: 4rem;
  align-items: center;
  font-weight: 500;
}

.dashboard-icon-main {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  column-gap: .5rem;
}

.dashboard-icon-main > li > img {
  height: 3rem;
}

.dashboard-icons-top, 
.dashboard-icons-bottom {
  padding-left: 1.5rem;
  column-gap: 1rem;
}

.dashboard-icons-top > li > img, 
.dashboard-icons-bottom > li > img {
  height: 2rem;
}

.sidebar > ul > li > a {
  text-decoration: none;
  color: white;
}

.main-content {
  background-color: #E2E8F0;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 3rem;
  column-gap: 2rem;
  padding-left: 2rem;
  padding-bottom: 5rem;
}

.card-section-header {
  grid-column: 1 / 2;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.card-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  grid-column: 1 / 2;
}

.card {
  background-color: white;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: 1fr 40fr;
  grid-template-rows: 4fr 1fr;
}

.card-color {
  grid-row: 1 / 4;
  background-color: #EAB308;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
}

.card-content {
  padding: 2rem 1rem;
  line-height: 1.4;
  font-size: 1.05rem;
  color: #52525B;
}

.card > ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
  column-gap: 2rem;
  padding-right: 2rem;
}

.card-section-side-header-top {
  grid-row: 1;
  grid-column: 2;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.main-content-side {
  
}

.card-section-side-header-bottom {
  
}